{% comment %}
  Renders a small page card.

  Accepts:
  - page: {Object} Page object

  Usage:
  {% render 'page-card-small', page: page %}
{% endcomment %}

<a href="{{ page.url }}" class="small-card-page focus-inset">
  {% render 'icon-page' %}

  <h3 class="small-card-page__title h4">
    <span class="small-card-page__title-span link--hover-underline">
      {{- page.title | escape -}}
    </span>
  </h3>
</a>
